
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="header">
      <p>الدورات المتوفرة حاليا</p>
      <p class="sub-header">Currently Available Courses</p>
  </div>
  <hr>
  <div class="card-container" >
      <div class="card">
          <div class="card-inner">
              <div class="card-front">
                  <img src="assets/images/bn.jpg" alt="Card image">
                  <div class="card-body">
                      <h5 class="card-title">English For Business</h5>
                      <p style="font-size: 15px; opacity: 50%;">الدورات المتوفرة حاليا</p>
                      <p class="card-text"></p>
                      <a class="btn btn-primary">Go somewhere</a>
                  </div>
              </div>
              <div class="card-back">
                  <div class="card-body">
                      <h5 class="card-title">Welcome to our course</h5>
                      <p class="card-text">Click on this button to register. Thank you.</p>
                      <a class="btn btn-primary"  style="cursor: pointer;"  (click)="go('bn')">Register</a>
                  </div>
              </div>
          </div>
      </div>

      <div class="card">
          <div class="card-inner">
              <div class="card-front">
                  <img src="assets/images/kids.jpg" alt="Card image">
                  <div class="card-body">
                      <h5 class="card-title">
                          <p> English For kids </p>
                          <p style="font-size: 15px; opacity: 50%;">الدورات المتوفرة حاليا</p>
                      </h5>
                      <p class="card-text"></p>
                      <a class="btn btn-primary">Go somewhere</a>
                  </div>
              </div>
              <div class="card-back">
                  <div class="card-body">
                      <h5 class="card-title">Welcome to our course</h5>
                      <p class="card-text">Click on this button to register. Thank you.</p>
                      <a class="btn btn-primary"   style="cursor: pointer;" (click)="go('kids')">Register</a>
                  </div>
              </div>
          </div>
      </div>

      <div class="card">
          <div class="card-inner">
              <div class="card-front">
                  <img src="assets/images/tofel.jpg" alt="Card image">
                  <div class="card-body">
                      <h5 class="card-title">
                          <p> English For Communication </p>
                          <p style="font-size: 15px; opacity: 50%;">الدورات المتوفرة حاليا</p>
                      </h5>
                      <p class="card-text"></p>
                      <a class="btn btn-primary">Go somewhere</a>
                  </div>
              </div>
              <div class="card-back">
                  <div class="card-body">
                      <h5 class="card-title">Welcome to our course</h5>
                      <p class="card-text">Click on this button to register. Thank you.</p>
                      <a class="btn btn-primary" style="cursor: pointer;" (click)="go('tofel')">Register</a>
                  </div>
              </div>
          </div>
      </div>


</div>
  
</body>
</html>
