<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar</title>

</head>
<body>
    <div class="navbar-container">
        <img src="assets/images/e.jpeg" alt="Logo" width="80" height="80" class="navbar-logo">
        <button id="menu-toggle" class="menu-toggle" (click)="toggleNavbar()">☰</button>
        <nav id="navbar" class="navbar" [class.active]="isNavbarActive">
            <div class="navbar-item">اتصل بنا</div>
            <div class="navbar-item">الدورات</div>
            <div class="navbar-item">الصفحة الرئيسية</div>
        </nav>
    </div>
    
</body>
</html>

