body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
    position: relative;
}

.navbar {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-left: auto;
}

.navbar-item {
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

.navbar-item::before {
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: rgba(140, 53, 174, 0.826);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.navbar-item:hover::before {
    transform: scaleX(1);
}

.navbar-item:hover {
    background-color: #27232308;
}

.navbar-logo {
    border-radius: 50%;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 1rem 0;
        z-index: 10;
    }

    .navbar.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .navbar-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-logo {
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    .navbar-item {
        font-size: 14px;
    }
}
