<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional Profile</title>

</head>
<body>
    <div class="profile-container">
        <div class="container">
            <div class="image-container">
                <img src="../assets/images/1639483680092.jfif" alt="Professional Image">
                <div class="overlay"></div>
            </div>
            <div class="title-container">
                <div class="title">Fatima Ezzahra Aboulanouar</div>
                <div class="subtitle">English Professor</div>
            </div>
        </div>
        <div class="animation-container">
            <div class="animation-text line1">Teacher for English 
                <div class="marker"></div>
            </div>
            <hr>
            <div class="animation-text line2">TESOL certified Teacher
                <div class="marker"></div>
            </div>
            <hr>
            <div class="animation-text line3">TOT certified Trainer 
                <div class="marker"></div>
            </div>
            <hr>
            <div class="animation-text line4">Founder of the Anglo Community 
                <div class="marker"></div>
            </div>
        </div>
    </div>
</body>
</html>
